@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Mono");
@import url("https://fonts.googleapis.com/css?family=Open%20Sans");
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-body-font: "Open Sans";
  --typewriter-font: "Noto Sans Mono";
  --normal-font: 400;
  --semibold-font: 520;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ccccff;
  --bg-secondary-color: #e7b9f5;
  --bg-footer-color:#7480be;
  --highlight-color: #B9FAF8;
  --nav-bg-color: white;
  --primary-color: #4756df;
  --secondary-color: #A663CC;
  --medium-highlight: #39bbdf;
  --primary-shadow: #B298DC;
  --secondary-shadow: #B8D0EB;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}
body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.dot-points {
  list-style-type: disc;
  position: relative;
  padding-left: 2rem;
  margin: 10px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--medium-highlight);
}

body {
  font-family: var(--font-family);
  background: linear-gradient(225deg, rgba(81,105,179,1) 0%, rgba(118,82,170,1) 33%, rgba(192,67,166,1) 94%); 
}

.about section {
  background-color: var(--medium-highlight);
}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  background-color: var(--nav-bg-color);
  border-bottom: 1px solid rgba(136, 136, 136, 0.212);
}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: black;
  font-family: var(--typewriter-font);
  font-size: 20px;
  transition: var(--transition);
}

nav a:hover {
  color: var(--medium-highlight);
  border-bottom: 2px solid var(--medium-highlight);
}

nav ul {
  display: flex;
  position: relative;
  gap: 3rem;
  font-weight: var(--typewriter-font);

}

/* nav ul li {
} */

.name-heading {
  font-family: var(--typewriter-font);
  font-weight: 500;
  font-size: 20px;
}

.burger-menu {
  color: var(--primary-color);
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

msg {
  font-family: var(--typewriter-font);
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  white-space: nowrap;
  color:black;
}

@media (max-width: 800px) {
  .hero {
    flex-direction: column;
  }
  .hero h1 {
    font-size: 2vh;
  }

  .hero-left {
    padding-left: 3vh;
  }
  .more-about {
    background-color: var(--bg-secondary-color);
    padding: 2rem 3rem;
    margin-top: 3.5rem;
  }
  .contact-social-links { 
    flex-direction: column;
  }
}

.hero h1 {
  font-size: 6vh;
  font-family: var(--typewriter-font);
}

.hero .hero-img {
  height: 30rem;
  /* width: 30rem; */
  border-radius: 6px;
  animation: fadeIn 3s ease-out;
  transition: transform .35s;

}

.hero-img:hover {
  transform: scale(1.1);
}


.hero-social-icons {
  height: 24px;
  width: 24px;
  opacity: 0.7;

  transition: transform .1s;

}

.hero-social-icons:hover {
  opacity: 1;
  transform: scale(1.05);
}

.hero div {
  font-family: var(--typewriter-font);
}

.hero-bg {
  position:absolute;
  max-width: 1045px;
  width: 100rem;
  max-height: 360px;
  z-index:-1;
}

.hero-social-links {
  display: flex;
  gap: 1rem;
  padding-top: 20px;
  animation: fadeIn 3s ease-out;
}

.wave-animation {
  max-width: 2rem;
  max-height: 2rem;
}

.hero .profession-emojis {
  max-width: 1.75rem;
  max-height: 1.75rem;
  bottom: 0;
}

.more-about {
  background-color: var(--bg-secondary-color);
  padding: 3rem 6rem;
  margin-top: 3.5rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  font-family: var(--typewriter-font);
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  font-family: var(--normal-body-font);
}


.fade-text-from-left {
  position: relative;
  white-space: nowrap;
  animation: fadeIn 6s ease-out, example 3s forwards;
  font-family: var(--typewriter-font);
}

.fade-text-from-left h3 {
  font-size: 15px;
  white-space: nowrap;
}

.fade-text-from-left msg {
  font-size: 20px;
}

.fade-text-from-left p {
  padding-top: 15px;
  white-space: normal;
  max-width: 440px;
}

@keyframes example {
  from { padding-right: 600px; }
  to { padding-right: 10px; }
}

.bio {
  padding: 0.625rem;
  /* border-radius: 6px; */
  background-color: white;
  font-family: var(--normal-body-font);
  box-shadow: 0px 10px 15px 2px var(--primary-shadow);
  border: 1px solid rgba(136, 136, 136, 0.212);
  transition: transform .5s;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio:hover {
  transform: scale(1.1);
}

.org-link {
  font-weight: var(--bold-font);
  color: var(--primary-color);
  font-style: under;
  text-align: right;
  
}
.org-link:hover {
  color: var(--medium-highlight);
}

.contact {
  padding: 3rem 6rem;
  background: linear-gradient(45deg, rgba(81,105,179,1) 0%, rgba(118,82,170,1) 47%, rgba(192,67,166,1) 94%); 
}

.contact-social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 2vh;
  gap: 2.5vh;
}

.contact p {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 4vh;
  font-family: var(--normal-body-font);
}

.contact img {
  height: 50px;
  width:  50px;
  transition: transform .1s;
}

.contact img:hover {
  transform: scale(1.1)
}