@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto%20Sans%20Mono");
@import url("https://fonts.googleapis.com/css?family=Open%20Sans");
@import url("https://fonts.googleapis.com/css?family=Rubik%20Glitch");
@import url("https://fonts.googleapis.com/css?family=Inter");
/* Variables */
:root {
  --font-family: "Roboto", sans-serf;
  --normal-body-font: "Open Sans";
  /* --typewriter-font: "Noto Sans Mono"; */
  --typewriter-font: "Inter";
  --glitch-font: "Rubik Glitch";
  --normal-font: 400;
  --semibold-font: 520;
  --bold-font: 700;
  --bolder-font: 900;
  --bg-color: #ccccff;
  --bg-secondary-color: #e7b9f5;
  --bg-footer-color:#7480be;
  --highlight-color: #B9FAF8;
  --about-bg-color: #001122;
  ---bg-color: white;
  --primary-color: #4756df;
  --secondary-color: #A663CC;
  --medium-highlight: #39bbdf;
  --primary-shadow: #B298DC;
  --secondary-shadow: #B8D0EB;
  --bottom-margin: 0.5rem;
  --bottom-margin-2: 1rem;
  --line-height: 1.7rem;
  --transition: 0.3s;
}
/* Variables end */

html {
  scroll-behavior: smooth;
  /* cursor: none; */
  scroll-padding-top: 20vh;
}

@-moz-document url-prefix() { /* Disable scrollbar Firefox */
  html{
    scrollbar-width: none;
  }
}
body {
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}

#wrapper {
  position: relative;
  width: 70%;
  height: 80%;
}

#circle {
  position: fixed;
  z-index: 100;
  width: 15px;
  height: 15px;
  background-color: var(--bg-secondary-color);
  box-shadow: 0 0 0 1px rgba(136, 136, 136, 0.918);
  border-radius: 50%;
  pointer-events: none;
  transition: background ease-in 10ms, box-shadow ease-in 150ms, transform ease-in 150ms;
  transform: translate3d(0, 0, 0);
}

#returnToTop {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 0vh; /* Place the button at the bottom of the page */
  right: 7vh; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  cursor: pointer; /* Add a mouse pointer on hover */
  height: 8.5vh;
  width: 8.5vh;
  animation: return-button 0.4s forwards;

}



#returnToTop:hover {
  cursor: none;
  transform:  scale(1.1);
} 


/* CSS Resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ul {
  list-style-type: none;
} */

.dot-points {
  list-style-type: disc;
  position: relative;
  padding-left: 2rem;
  margin: 10px;
  margin-bottom: 7px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  cursor: none;
}

/* a:hover {
  color: var(--medium-highlight);
} */

body {
  font-family: var(--font-family);
  /* background: linear-gradient(225deg, rgba(81,105,179,1) 0%, rgba(118,82,170,1) 33%, rgba(192,67,166,1) 94%);  */
  /* background-color: #7652aa; */
  background: rgb(78,214,187);
  background: linear-gradient(180deg, rgba(78,214,187,1) 0%, rgba(82,143,170,1) 10%, rgba(118,82,170,1) 21%); 
}

.about section {
  background-color: var(--medium-highlight);
}

.nav-logo {
  max-width: 50px;
  max-height: 50px;
  transition: transform 0.3s;
  filter: invert(100%);
  animation: fadeIn 1s ease-out;
}

.nav-logo:hover {
  transform: scale(1.1);

}

nav {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 3.5rem;
  /* background-color: var(--nav-bg-color); */
  background-color: rgba(238, 238, 238, 0.08);
  box-shadow: 10px 10px 5px rgba(2, 2, 2, 0.041);
  backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.308);

}

nav h1 {
  color: var(--primary-color);
}

nav a {
  color: white;
  font-family: var(--typewriter-font);
  font-size: 20px;
}


nav ul {
  display: flex;
  position: relative;
  gap: 3rem;
  font-weight: var(--typewriter-font);
}

.nav-link {
  list-style-type: none;
  position: relative;
  animation: nav-links 0.6s forwards;

}



.nav-link:after {
  content: '';
  height: 2px;
  width: 0px;
  background: white;
  position: absolute;
  bottom: -5px;
  right: 0%;
  transition: .3s;
}

.nav-link:hover:after {
  /* color: var(--medium-highlight); */
  cursor: none;
  width: 100%;
  left: 0%;
}

@keyframes nav-links {
  from { top: -10vh; }
  to { top: 0vh; }
}



/* nav ul li {
} */

.name-heading {
  font-family: var(--typewriter-font);
  font-weight: 500;
  font-size: 20px;
}

.burger-menu {
  /* color: var(--primary-color); */
  color: white;
  font-size: 2rem;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  display: none;
}

msg {
  font-family: var(--typewriter-font);
}

.spacer {
    aspect-ratio: 1080/130;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
  background-image: url('../images/layered-waves-haikei(4) 2.svg');
}

.layer2 {
  background-image: url('../images/wave-divider-about.svg');
}

.layer3 {
  background-image: url('../images/wave-divider-bookshelf.svg');
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
  white-space: nowrap;
  color:white;
  z-index: 1;
}

.hero .hero-img {
  height: 30rem;
  width: 30rem;
  border-radius: 6px;
  /* animation: fadeIn 3s ease-out; */
  transition: transform .35s;
  

}


.hero h1 {
  font-size: 6vh;
  font-family: var(--typewriter-font);
}


.hero-social-icons {
  height: 24px;
  width: 24px;
  /* opacity: 0.7; */
  filter: invert(100%);
  transition: transform .1s;

}

.hero-p {
  line-height: 2em;
}



.hero-circle-bg {
  position: absolute;
  max-width: 68.75rem;

  z-index: -1;
  top: 0;
  padding-top: 15vh;
  height: 70vh;
  left: 10vw;
}

.hero-circle-1 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  animation: circle-1 2s forwards;

}

.hero-circle-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 18vh;
  background-color: #4ED6BB;
  border-radius: 50%;
  animation: circle-2 2s forwards;

}

.hero-circle-3 {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 23vh;
  background-color: #AE95CB;
  border-radius: 50%;
  animation: circle-3 2s forwards;
}


.hero-circle-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 27vh;
  background-color: #4ED6BB;
  border-radius: 50%;
  animation: circle-4 2s forwards;
}

.hero-circle-5 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 36vh;
  background-color: #AE95CB;
  border-radius: 50%;
  animation: circle-5 2s forwards;

}

.hero-circle-6 {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 38vh;
  background-color: #AE95CB;
  border-radius: 50%;
  animation: circle-6 2s forwards;
}

.hero-circle-7 {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 51vh;
  background-color: #4ED6BB;
  border-radius: 50%;
  animation: circle-7 2s forwards;
}

.hero-circle-8 {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 63vh;
  background-color: #4ED6BB;
  border-radius: 50%;
  animation: circle-8 2s forwards;

}

.hero-circle-9 {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 64vh;
  background-color: #E7B9F5;
  border-radius: 50%;
  animation: circle-9 2s forwards;

}

.hero-circle-10 {
  position: absolute;
  width: 75px;
  height: 75px;
  top: 68vh;
  background-color: #E7B9F5;
  border-radius: 50%;
  animation: circle-10 2s forwards;

}


@keyframes circle-1{
  from { left: -30vw; }
  to { left: 66vw; }
}

@keyframes circle-2 {
  from { right: -100vw; }
  to { right: -17vw; }
}

@keyframes circle-3 {
  from { right: -100vw; }
  to { right: -29vw; }
}

@keyframes circle-4 {
  from { left: -30vw; }
  to { left: 45vw; }
}

@keyframes circle-5 {
  from { right: -100vw; }
  to { right: -11vw; }
}

@keyframes circle-6 {
  from { left: -30vw; }
  to { left: 64vw; }
}

@keyframes circle-7 {
  from { left: -30vw; }
  to { left: 70vw; }
}

@keyframes circle-8 {
  from { right: -100vw; }
  to { right: -25vw; }
}

@keyframes circle-9 {
  from { right: -100vw; }
  to { right: -13vw; }
}

@keyframes circle-10 {
  from { left: -30vw; }
  to { left: 60vw; }
}



.not-found {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 3rem;

}


.not-found h1 {
  font-family: var(--glitch-font);
  font-size: 10vh;
  max-width: 30vw;
  color: white;
}

.body-404 {
  background: linear-gradient(45deg, rgba(81,105,179,1) 0%, rgba(118,82,170,1) 47%, rgba(192,67,166,1) 94%); 


}

.more-about {
  background-color: var(--about-bg-color);
  color: white;
  padding: 2rem 3rem 3rem;
}

.more-about h2 {
  margin-bottom: var(--bottom-margin);
  text-align: center;
  font-weight: bold;
  font-family: var(--typewriter-font);
  font-size: 30px;
}

.more-about p {
  line-height: var(--line-height);
  padding: 0.4rem;
  font-family: var(--typewriter-font);
  font-size: 20px;
}

.about-container {
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  padding-bottom: 3vh;
  margin: auto;
  justify-content: center;
}

.about-bio {
  width: 40rem;
  padding-right: 3vw;
}

.about-dot {
  font-size: 20px;
  line-height: var(--line-height);
}

.about-org-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}

.about-org-logos img {
  height: 85px;
  width: 85px;  
}

.about-pic {
  padding-left: 3vw;
}

.org-link {
  font-weight: var(--bold-font);
  /* color: var(--primary-color); */
  color: white;
  font-style: under;
  text-align: right;
  font-family: var(--typewriter-font);
  font-size: 20px;
  
}
.org-link:hover {
  color: var(--medium-highlight);
}




.fade-text-from-left {
  position: relative;
  white-space: nowrap;
  animation: fadeIn 3s ease-out, example 3s forwards;
  font-family: var(--typewriter-font);
}

/* .fade-text-from-left.active {
  position: relative;
  white-space: nowrap;
  animation: fadeIn 6s ease-out, example 3s forwards;
  font-family: var(--typewriter-font);
} */

.fade-text-from-left h3 {
  font-size: 15px;
  white-space: nowrap;
}

.fade-text-from-left msg {
  font-size: 20px;
}

.fade-text-from-left p {
  padding-top: 15px;
  white-space: normal;
  max-width: 500px;
}

.projects {
  background: #e7b9f5;
}

.bookshelf-bg {
  background-color: #041b33;
  display: flex;
  justify-content: center;
  flex-direction: row;

}

.bookshelf img {
  max-width: 33.33vw;
}

@media screen and (min-width: 1000px) {

  .hero {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .hero h1 {
    font-size: 8vh;
  }

  .hero-p {
    font-size: 2vh;
  }


  .hero-social-icons {
    height: 30px;
    width: 30px;
    /* opacity: 0.7; */
  
    transition: transform .1s;
  
  }
  .fade-text-from-left p {
    min-width: 500px;
  }
  
}

@media screen and (max-width: 850px) {
  .hero {
    margin-top: 1rem;
    gap: 0;
  }
  .hero h1 {
    font-size: 2vh;
  }

  .hero .hero-img {
    height: 23rem;
  }

  #circle {
    display: none;
  }

  .hero-left {
    padding-left: 10vh;
  }
  .not-found {
    flex-direction: column;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 720px) {

  html {
    scroll-padding-top: 15vh;
    cursor: pointer;
  }

  #circle {
    display: none;
  }

  .hero {
    flex-direction: column;
    margin-top: 1rem;
    gap: 0;
  }
  .hero h1 {
    font-size: 5vh;
  }

  .hero .hero-img {
    height: 25rem;
    width: 25rem;
  }


  .hero-left {
    padding-left: 3vh;
  }

  .not-found {
    flex-direction: column;
    margin-top: 1rem;
  }

  .more-about {
    /* padding: 1rem 3.5rem; */
    padding: 2rem 2rem 2rem;
    /* margin-top: 2rem; */
  }

  .more-about p {
    text-align: justify;
  }

  .about-container {
    flex-direction: column;
  }

  .about-bio {
    width: 90vw;
  }

  .more-about p {
    font-size: 17px;
    text-align: left;
  }

  .about-org-logos {
    flex-direction: row;

    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  
  .about-org-logos img {
    height: 70px;
    width: 70px;
  
  }

  .org-link {
    font-size: 17px;

  }

  .about-pic {
    padding-left: 0;
    padding-top: 15px;
  }

  .about-pic img {
    max-width: 85vw;
  }

  .contact-social-links { 
    flex-direction: column;
  }
  nav {
    padding: 1.5rem 1rem;
  }

  nav ul {
    position: fixed;
    background-color: rgba(56, 56, 56, 0.568);
    backdrop-filter: blur(4px);

    flex-direction: column;
    top: 12px;
    right: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
    width: 40%;
    text-align: center;
    transform: translateX(120%);
    border-radius: 10px 5px 10px 5px;
    box-shadow: 0px 5px 10px rgba(2, 2, 2, 0.288);
    
    
  }

  nav a {
    color: white;
    font-size: 17.5px;
  }
  
  nav ul li {
    border-left: none;
    border-right: none;
  }
  .burger-menu {
    display: block;
  }
  
  nav ul.show {
    transform: translateX(0);
    transition: 0.2s;
  }

  .bookshelf-bg {
    flex-direction: column;
  }
  .bookshelf img {
    max-width: 100vw;
  }

  #returnToTop {
    right: 2vh;
  }

}

@media screen and (max-width: 450px) {
  .contact-social-links {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .contact img {
    list-style: none;
    flex: 0 0 33.333%;
  }
}

.hero-img:hover {
  animation: shake 0.5s; 
  animation-iteration-count: infinite; 
}



@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



.hero-social-icons:hover {
  /* opacity: 1; */
  transform: scale(1.05);
  /* filter: hue-rotate(108deg);
  -webkit-filter: hue-rotate(180deg); */
  cursor: none;

}

.hero div {
  font-family: var(--typewriter-font);
}

.hero-bg {
  position:absolute;
  max-width: 1045px;
  width: 100rem;
  max-height: 360px;
  z-index:-1;
}

.hero-social-links {
  display: flex;
  gap: 1rem;
  padding-top: 20px;
  animation: fadeIn 3s ease-out;
}

.hero-social-links:hover {
  cursor: none;

}

.wave-animation {
  max-width: 2rem;
  max-height: 2rem;
}

.hero .profession-emojis {
  max-width: 1.75rem;
  max-height: 1.75rem;
  bottom: 0;
}



@keyframes return-button {
  from { bottom: 0vh; }
  to { bottom: 10vh; }
}

@keyframes example {
  from { padding-right: 600px; }
  to { padding-right: 10px; }
}

.bio {
  padding: 0.625rem;
  border-radius: 6px;
  background-color: white;
  font-family: var(--normal-body-font);
  box-shadow: 0px 10px 15px 2px var(--primary-shadow);
  border: 1px solid rgba(136, 136, 136, 0.212);
  transition: transform .5s;
}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: var(--line-height);
  padding: 0.3rem 0;
}

.bio:hover {
  transform: scale(1.1);
}


.contact {
  padding: 3rem 6rem;
  background: linear-gradient(45deg, rgba(81,105,179,1) 0%, rgba(118,82,170,1) 47%, rgba(192,67,166,1) 94%); 
}

.contact-404 {
  padding: 3rem 6rem;
  position: fixed;
  bottom: 0;
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  
}

.contact-404 p {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 4vh;
  font-family: var(--normal-body-font);
}

.contact-404 img {
  height: 50px;
  width:  50px;
  transition: all .3s ease-out;
  filter: invert(100%);

}

.contact-social-links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding-top: 2vh;
  gap: 2.5vh;
}

.contact p {
  display: flex;
  justify-content: center;
  color: white;
  padding-top: 4vh;
  font-family: var(--normal-body-font);
}

.contact img {
  height: 50px;
  width:  50px;
  transition: all .3s ease-out;
  filter: invert(100%);

}

.contact img:hover {
  transform: scale(1.1);
  background-color: white; /* Add a dark-grey background on hover */
  border-radius: 50%;
  cursor: none;

}



